
<%= title "Criar Lição" %>

 <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Lição</span>
                <h3 class="page-title">Add Nova Lição</h3>
              </div>
            </div>


<%= render 'form', content: @content %>
