<br>&nbsp;<p><strong><%= @user.name %></strong> Existe uma nova aula para você assistir na
   plataforma de curso online a ProEdu,&nbsp;&nbsp;</p><p>Link de acesso: <%= new_user_session_url %></p><p>
    Em caso de dúvida, por favor entre em contato conosco!&nbsp;<br></p><br>
    <p><sup>Copyright © 2018 Todos os direitos reservados&nbsp;<br><span style="font-size: 1rem; display: inline !important;"><sup>Você está recebendo este email, por que fez sua inscrição na plataforma online ProEdu.</sup></span></sup></p><br><br><br><br><br>
