<%= title "Minhas Mensagens" %>

<div class="col-lg-12">
<div class="card">
<div class="card-body">
  <h5 class="card-title mb-4"><%= @messager.subject %></h5>
  <div class="table-responsive">

    <h1><%= @messager.body %></h1>


    </div>
  </div>
</div>
</div>
