<!DOCTYPE html>
<html>
  <head>
    <title>Proedu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Login User</h1>
    <%= yield %>
  </body>
</html>
