
<%= title "Criar Curso" %>

<div class="main-content-container container-fluid px-4">
  
  
  
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">curso</span>
      <h3 class="page-title">Adicionar novo curso</h3>
    </div>
  </div>
  <!-- End Page Header -->


<%= render 'form' %>
