
<%= title "Criar Curso" %>

<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Nova Curso</h2>
  </div>
</header>

<%= render "layouts/brandcrumb" %>

<p></p>



<%= render 'form' %>
