
<div class="col-lg-9 col-md-12">
  <div class="card card-small mb-3">
  
    <div class="card-body">

      <%= form_for @category do |f| %>
      <%#= render "shared/errors", object: @content %>

      <div class="form-group">
        <label class="form-control-label"><%= f.label :title %></label>
        <%= f.text_field :name, placeholder: 'Digite o nome da categoria', class: 'form-control' %>
      </div>


      <div class="form-group">
        <%= button_tag fa_icon('file-alt', text: 'Salvar'), class: 'btn btn-primary', data: {disable_with: 'Salvando...'} %>

      </div>
      <% end %>
    </div>
  </div>
</div>
</div>