<%= title "Criar nova Categoria" %>

<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Nova Categoria</h2>
  </div>
</header>

<%= render "layouts/brandcrumb" %>
<p></p>
<div class="container-fluid">

<%= render "form" %>

</div>
