<div class="d-flex justify-content-center">

 <div class="btn-group" role="group" aria-label="Exemplo básico">
 
  <%= link_to fa_icon('chevron-left', text: 'Voltar'), curse_path(@content.curse), class: 'btn btn-secondary' %>
  <%= link_to fa_icon('check', text: 'Marcar como Concluída'), edit_progress_path(@content.curse), class: 'btn btn-success' %>
  <%= link_to fa_icon('chevron-right', text: 'Próxima'), curses_content_path(@content.curse), class: 'btn btn-secondary' %>
 
</div>         
</div>
