<div class="d-flex justify-content-center">

  <div class="btn-group" role="group" aria-label="Exemplo básico">
    <% if @previus.nil? %>
    <% else %>
      <%= link_to fa_icon('chevron-left', text: 'Voltar'), content_path(@previus.id), class: 'btn btn-secondary' %>
    <% end %>

    <%= link_to fa_icon('check', text: 'Marcar como Concluída'), edit_progress_path(params[:id]), class: 'btn btn-success' %>

    <% if @next.nil? %>
    <% else %>
      <%= link_to fa_icon('chevron-right', text: 'Próxima'), content_path(@next.id), class: 'btn btn-secondary' %>    
    <% end %>

  </div>         
</div>
