<div class="nav-wrapper">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="<%= curses_path  %>">
        <i class="material-icons">menu_book</i>
        <span>Cursos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="<%= new_content_path %>">
        <i class="material-icons">note_add</i>
        <span>Lição</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="add-new-post.html">
        <i class="material-icons">vertical_split</i>
        <span>Categorias</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="form-components.html">
        <i class="material-icons">chat</i>
        <span>Mensagens</span>
      </a>
    </li>
 
    <li class="nav-item">
      <a class="nav-link " href="<%= users_path %>">
        <i class="material-icons">person</i>
        <span>Estudantes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="errors.html">
        <i class="material-icons">error</i>
        <span>Errors</span>
      </a>
    </li>
  </ul>
</div>
