<div class="nav-wrapper">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="<%= root_path  %>">
        
        <i class="material-icons">home</i>
        <span>Início</span>
      </a>
    </li>

 <li class="nav-item">
      <a class="nav-link " href="<%= curses_path %>">
        <i class="material-icons">menu_book</i>
        <span>Meus Cursos</span>
      </a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link " href=" <%= messagers_path %> ">
        <i class="material-icons">chat</i>
        <span>Mensagens</span>
      </a>
    </li>
 
    <li class="nav-item">
      <a class="nav-link " href="<%= users_path %>">
        <i class="material-icons">person</i>
        <span>Estudantes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="errors.html">
        <i class="material-icons">emoji_events</i>
        <span>Certificado</span>
      </a>
    </li>
  </ul>
</div>

 
